* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box
    
   
}

body{
  font:400 14px Roboto sans-serif;
  background-color: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

button:hover {
  filter: brightness(90%);
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #4141414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.back-link svg {
   margin-right: 8px;
}

.back-link:hover {
   opacity: 0.8;
}
